app.py
Automacao de Processo.ipynb
configura.py
Descrição do Projeto.ipynb
app+email.ipynbEnviarEmail_HTML.py
Exemplo.JPG
Gabarito Compilado - Automacao de Processo.ipynb
onepage.png
TESTE0.2.py
EnviarEmail.py
EnviarEmail_HTML.py
__pycache__/
app+email.ipynb
"Descri\303\247ao do Projeto.ipynb"